.App {
	text-align: center;
}
.header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #282c34;
	padding: 0 15px;
	padding-top: 0.67em;
	background-color: #172550;
	color: #fd7e14;
}
.header h1 {
	font-size: 2.2rem;
}

.cart-sign {
	font-size: 2rem;
	cursor: pointer;
	margin-bottom: 0.67em;
	margin-right: 0.67em;
}

.search-sort-wrapper {
	background-color: #dde9e9;
	padding: 1.5rem;
}
/*search section*/
.search-text {
	width: 25rem;
}
.sort-by {
	width: 25rem;
}

/*card sction*/
.card {
	width: 16rem;
	height: auto;
	padding: 1rem;
	box-shadow: 1px 2px 10px 2px;
}
.card-img-top {
	width: 222px;
	height: 133.94px;
}
.card-title {
	font-weight: 500;
}
.card h5 {
	font-weight: bold;
}
.card p {
	font-weight: bold;
}

/*cart section*/

.cart {
	background-color: bisque;
	width: 35%;
	padding: 25px;
	position: absolute;
	right: 0px;
	top: 80px;
}
.cart h4 {
	margin-bottom: 1rem;
	background-color: cadetblue;
	padding: 1rem;
}

.cart-card {
	width: auto;
	height: auto;
	padding: 1rem;
	box-shadow: 1px 2px 10px 2px;
	background-color: #fff;
	margin-bottom: 1rem;
}
.cart-img-left {
	width: 100px;
	height: 75px;
}
.cart-title {
	font-weight: 500;
}
.cart h5 {
	font-weight: bold;
	font-size: 1.1rem;
}
.cart-text {
	padding-left: 50px;
	margin-top: 1rem;
}
.cart p {
	font-weight: bold;
	font-size: 1rem;
}
.cart-card input {
	width: 2.5rem;
	margin-right: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
